---
- name: "Ensure user and group for KRaft exist."
  ansible.builtin.include_role:
    name: amq_streams_common
    tasks_from: prereqs.yml
  vars:
    prereqs_user: "{{ amq_streams_kraft_user }}"
    prereqs_group: "{{ amq_streams_kraft_group }}"

- name: Create KRaft config directory
  ansible.builtin.file:
    path: "{{ amq_streams_kraft_config_dir }}"
    state: directory
    owner: "{{ amq_streams_kraft_user }}"
    group: "{{ amq_streams_kraft_group }}"
    mode: '0755'

- name: Deploy server.properties
  ansible.builtin.template:
    src: server.properties.j2
    dest: "{{ amq_streams_kraft_config_dir }}/server.properties"
    owner: "{{ amq_streams_kraft_user }}"
    group: "{{ amq_streams_kraft_group }}"
    mode: '0644'
  notify: Restart Kafka
